description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ritual Miniatures- {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
		<link href="{{ [
	        '@framework.extras',
	        'assets/less/vendor.less',
	        'assets/less/theme.less'
	    ]|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <section id="layout-content">
            {% page %}
        </section>

        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

		<script src="{{ [
	        '@jquery',
	        '@framework',
	        '@framework.extras',
	        'assets/vendor/bootstrap.js',
	        'assets/javascript/app.js'
	    ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
